include LICENSE
include tox.ini
recursive-include ci *.in
recursive-include ci *.txt
recursive-include docs *.gitkeep
recursive-include docs *.py
recursive-include docs *.rst
recursive-include eccodes_grib *.h
recursive-include tests *.grib
recursive-include tests *.py
