include *.rst
include Dockerfile
include .dockerignore
include LICENSE
include Makefile
include tox.ini
include tests/sample-data/era5-levels-members.grib
recursive-include ci *.in
recursive-include ci *.txt
recursive-include docs *.gitkeep
recursive-include docs *.py
recursive-include docs *.rst
recursive-include cfgrib *.h
recursive-include tests *.grib
recursive-include tests *.ipynb
recursive-include tests *.py
