include *.grib
include *.grib2
include *.rst
include *.yml
include LICENSE
include Makefile
include tox.ini
recursive-include cfgrib *.h
recursive-include ci *.in
recursive-include ci *.ps1
recursive-include ci *.txt
recursive-include ci *.yml
recursive-include docs *.gitkeep
recursive-include docs *.py
recursive-include docs *.rst
recursive-include tests *.grib
recursive-include tests *.ipynb
recursive-include tests *.py
recursive-include tests *.yml
